.header{
    background-image: url("./images/foto.png");
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
}

.sertiz {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
    padding-top: 530px;
    margin: 0px 0px 15px 215px;
}

.text {
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    margin: 0px 0px 30px 215px;
}

.yellow {
    font-family: Montserrat;
    color:  #f1ad1d;
    font-size: 54px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
    margin: 0px 0px 0px 215px;
    padding: 47px 0px 42px 32px;
    border: 2px solid #c3e3e4;
    background: rgba(0, 0, 0, 0.3);
    max-width: 800px;
}

.span {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 54px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
}
